/* Main card styling */
.todo-card {
  margin: 20px auto;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Todo title styling */
.todo-title {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #007bff;
}

/* List group items with hover effects */
.todo-item {
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.2s ease-in-out;
}

.todo-item:hover {
  border: 2px solid #007bff;
  border-radius: 5px;
  background-color: #f4f7f9;
}

.todo-item.completed {
  text-decoration: line-through;
  color: #888;
  background-color: #e9ecef;
  border: 2px solid #e0e0e0;
  border-radius: 5px;
}
